*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

header #logo-and-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

header h2{
    color: #1c4699;
}

header .ri-circle-fill{
    font-size: small ;
}

header nav{
    display: flex;
    gap: 30px;
}

header nav a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

header #goto{
    display: flex;
    gap: 33px;
}

header #goto i{
    font-size: 25px;
}

header #search{
    display: flex;
    gap: 10px;
    align-items: center;
}

header h5{
    font-weight: 400;
}

header #other-icons{
    display: flex;
    gap: 15px;
}

header .ri-menu-line{
    display: none;
}

main{
    background-color: #f7f7f7;
    padding-top: 50px;
}

main #faq-description{
    text-align: center;
}

main #faq-description h2{
    padding-bottom: 18px;
}

main #faq-description p{
    padding-bottom: 15px;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 14px;
}

main button{
    padding: 12px 25px;
    background-color: #1c4699;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

main #faqs{
    background-color: white;
    margin: 15vh 18vw;
    padding: 30px;
}

main #faqs h4{
    padding-bottom: 25px;
    cursor: pointer;
}

main #faqs p{
    font-size: small;
    overflow: hidden;
}